@charset "UTF-8";

body{
   margin: 0px;
   padding: 0px;
}
/* 폰트 */


/* 앵커 */   
    a{
      text-decoration: none;
       color: black;
   } 
   
/* 틀*/
   #container {
      width: 1200px;
      height: 700px;
      /* border: 1px solid black; */
   }
   
   #homeDiv{
      width: 1000px;
      height: 20px;
      font-weight: bold;
      font-size: large;
      /* border: 1px solid black; */
      padding: 10px 0px 10px 30px; 
   }
   
   #colorDiv{
      width: 1200px;
      height: 60px;
      background-color: #4D483D;
      text-align: right;
   }
   
   #welcomeID{
      color: #ffffff;
      font-weight: bold;
      padding-top: 30px;
      margin-right: 20px;
   }
   
   #topDiv{
      width: 1200px;
      height: 40px;
      /* border: 1px solid pink; */
   }
   
   #leftDiv{
      width: 230px;
      height: 630px;
      border: 1px solid skyblue;
      float: left;
      margin-left: 10px;
   }
   
   #middleDiv{
      display: inline-block;
      /* margin: 0 auto; */
      padding: 0px 10px 10px 10px;
      width:   718px;
      height: 630px;
      border: 1px solid black; 
   }
   
   #rightDiv {
      float: right;
      width: 212px;
      height: 630px;
      left: 1116px;
      border: 1px solid black;
   }

/*탑 메뉴*/
   #topMenu{
      text-align: right;
   }
   
   #topMenu div{
      display: inline-block;
      margin-top: 5px;
      margin-right: 20px;
   }

/* 왼쪽 사이드 메뉴 */
   #accordion{
      cursor: pointer;
   }
   
   #accordion h3{
      width: 200px;
      height: 25px;
      /* margin: 0px; */
      /* border: 1px solid red; */
   }
   
   #accordion p{
      margin: 0;
      width: 144px;
   }

   
   /*엑셀 버튼*/      
   #excelBtn {
      width: 190px;
      height: 70px;
      position: absolute;
      top: 550px;
      margin-left: 10px;
      background-color: #ff7473;
      border: none;
      border-radius: 10px;
      text-align: center;
      font-size: medium;
      font-weight: bold;
      cursor: pointer;
   }
   
   #datepicker{
      width: 190px;
      position: absolute;
      top: 268px;
      margin-left: 5px;
   }
   
   .ui-datepicker{ font-size: 12px; width: 100%; }
   .ui-datepicker select.ui-datepicker-month{ width:100%; font-size: 11px; }
   .ui-datepicker select.ui-datepicker-year{ width:100%; font-size: 11px; }
   
      
   #farmInfo{
      width:  220px;
      height: 80px;
      text-align: center;
      border: 1px solid gray;
   }
   
/*가운데 부분*/
   #passInfo{
      width: 718px;
      height: 70px;
      margin-bottom:5px;
      border: 1px solid green;
   }

   #title{
      width: 718px;
      height: 40px;
      margin-bottom:5px;
      border: 1px solid green;
   }